.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #c1b1d6;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: rgb(31, 25, 25);
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}